<div class="container-fluid row d-flex mt-2 mb-5">

  <div class="col-12 col-md-5 d-flex justify-content-md-start justify-content-center">
    <app-profile></app-profile>
  </div>

  <div class="col-12 col-md-7 bg-light d-flex align-items-center justify-content-center">
    <div class="container-fluid">
      <h1 class="text-center mt-3 ">Orders</h1>
    </div>
    <div class="container-fluid shadow p-5 m-5">
      <table class="table table-striped -mt-2">
        <thead>
          <tr>
            <th class="whitespace-nowrap fs-5">Order Id</th>
            <th class="whitespace-nowrap fs-5">Status</th>
            <th class="whitespace-nowrap fs-5">Delivered Date</th>
            <th class="whitespace-nowrap fs-5">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr class="intro-x">

            <td>Order ID</td>
            <td>Status</td>
            <td>Delivered Date</td>
            <td>
              <div>
                <a class="btn btn-dark" routerLink="/OrderDetails"> Details </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
