<div class="container d-flex justify-content-space-between m-0 p-0">
  <div class="col-lg-4 m-0">
    <app-profile></app-profile>
  </div>
  <div class="col-lg-8 general-background bg-light mt-5 roundedd">
    <form class="shadow p-4" [formGroup]="fg" (submit)="OnSubmit($event)">

      <div class=" mb-sm-5 bg-light coolinput mx-5 ">

        <div class="form-floating m-2">
          <input type="text" class="form-control" id="floatingName" placeholder="City Name" formControlName="fullname">
          <label for="floatingName">City</label>
          <div class="text-danger form-text" *ngIf="fullnameTouched &&  fullnameRequired">Required Field!</div>
          <div class="text-danger form-text" *ngIf="fullnameTouched && !fullnameRequired &&!fullnameValid">At least 8
            digits!</div>
          <div class="text-success form-text" *ngIf="!fullnameRequired && fullnameValid">Looks Good!</div>
        </div>
        <div class="form-floating m-2">
          <input type="text" class="form-control" id="address" placeholder="address" formControlName="address">
          <label for="address">Street</label>
          <div class="text-danger form-text" *ngIf="addressTouched &&  addressRequired">Required Field!</div>
          <div class="text-danger form-text" *ngIf="addressTouched && !addressRequired &&!addressValid">At least 8
            digits!</div>
          <div class="text-success form-text" *ngIf="!addressRequired && addressValid">Looks Good!</div>
        </div>

        <div class="form-floating m-2">
          <input type="text" class="form-control" id="phone" placeholder="phone" formControlName="phone">
          <label for="phone">Phone</label>
          <div class="text-danger form-text" *ngIf="phoneTouched &&  phoneRequired">Required Field!</div>
          <div class="text-danger form-text" *ngIf="phoneTouched && !phoneRequired &&!phoneValid">Phone Must be 11 digits!</div>
          <div class="text-success form-text" *ngIf="!phoneRequired && phoneValid">Looks Good!</div>
        </div>

        <button class="btn btn-dark text-white w-100 py-3 mt-4" type="submit">Add</button>
      </div>
    </form>
  </div>
</div>
