<p class="h1 text-center text-black mt-2">Top Picks</p>
<p class="h3 text-center text-black">Get Your Favorite Products Now!</p>

<div class="container-fluid">

  <div class="body row">

    <div class="card col-4"  *ngFor="let item of [1,2,3]">
      <div class="cover">
        <img src="https://www.picsum.photos/800/400" alt="Elegant Leather Sofa Set"  />
      </div>
      <div class="details">
        <div>
          <img src="https://www.picsum.photos/800/400" alt="BetaFPV Cetos"  />
          <h4>Modern Smart Phone
          </h4>
          <h2>11990 <small class="h5">EGP</small></h2>
          <a routerLink="/products">Buy Now</a>
        </div>
      </div>
    </div>

  </div>
</div>
