<div class="container-fluid row mt-4 mb-4 " style="min-height: 95vh;">

  <!-- Side Pannel -->
  <div class="col-sm-12 col-lg-3 shadow p-3 pt-5">
    <div class="list-group">
      <h4>Filter By Product</h4>
      <!-- [(ngModel)]="listFilter" -->
      <input class="form-control mb-2" id="productSearch" type="text" placeholder="Search">

      <h4>Filter By Category</h4>
      <!-- (change)="filterCategory($event)" -->
      <select title="category" class="form-select mb-2" >
          <option value="AllCategories">All Categories</option>
          <option class="text-dark" *ngFor="let category of [1,2,3,4,5]" [value]="category">
              {{category}}
          </option>
      </select>

      <h4>Filter By Color</h4>
      <!-- (change)="filterColor($event)" -->
      <select title="category" class="form-select mb-2">
          <option value="AllColors">All Colors</option>
          <option class="text-dark" *ngFor="let product of [1,2,3,4]" [value]="product">
              {{product}}
          </option>
      </select>

      <label for="money" class="h4">Price Range</label>



    </div>
  </div>

  <!-- Products Container -->
  <div class="container-fluid col-sm-12 col-lg-9 d-flex flex-wrap p-3  justify-content-end align-items-start" >

    <!-- Cards -->
    <div id="card" class="card m-2" style="width: 15rem; position: relative; cursor: pointer;" *ngFor="let item of products">

      <div id="img" class="card-img-top text-center">
      <img src="{{item.images[0] ? item.images[0] : 'assets/Images/NotFound.png'}}" class="img-fluid" alt="..." [routerLink]="['details', item.id]">
      </div>

      <button (click)="AddToFavorite(item.id)" class="smalled s1 btn btn-dark m-1" style="position: absolute; top:1px; right: 1px; font-size: 10px;"><i class=" bi bi-heart-fill" id="heart"></i></button>
      <button (click)="AddToWithList(item.id)" class="smalled s2 btn btn-dark m-1" style="position: absolute; top:40px; right:1px; font-size: 10px;"><i class=" bi bi-list-ol" id="star"></i></button>
      <div class="card-body" [routerLink]="['details',item.id]" style="cursor: pointer;">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text">{{item.price}} LE</p>
      </div>

      <button (click)="AddToCart(item.id)" [value]="item.id" class="btn btn-dark m-3"><i class="bi bi-cart-fill"></i> Add To Cart</button>

    </div>

  </div>

  <!-- Pageination Buttons -->
  <div class="w-50 m-auto text-center">
    <button class="ination btn btn-dark" (click)="prev()">Prev</button>
    <button class="ination btn btn-light"> [ {{filters.pageIndex}} ] </button>
    <button class="ination btn btn-dark" (click)="next()">Next</button>
  </div>


</div>
