a{
  border-radius: 0px !important;
}


button{
  border-radius: 0px;
}

input, select{
  border-radius: 0px !important;
}

.ination{
  width: 4rem;
  height: 2rem;
}

#img{
  max-height: 200.14px;
  min-height: 200.14px;
}
img{
  max-height: inherit;
  transition-duration: 1s;

}

#card{
  border: 0px;
  overflow: hidden;
}

#card:hover #img img {
  transform: scale(1.04);
  opacity: 0.8;
}
