<div class="container-fluid">
  <div class="container-fluid row profile" style="min-height: 80vh">

    <div class="col-md-3 h-100 bg-body-secondary">
      <div class="profile-sidebar">
        <div class="profile-userpic text-center">
          <img src="https://www.picsum.photos/400/400" class="img-responsive" alt="">
        </div>

        <div class="profile-usertitle">
          <div class="profile-usertitle-name ">Abdulrahman</div>
        </div>

        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Log Out</button>
        </div>

        <ul _ngcontent-ng-c3996415894="" class="navbar-nav ms-auto">
          <li _ngcontent-ng-c3996415894="" class="nav-item m-1"><a _ngcontent-ng-c3996415894=""
              class="nav-link text-dark Headers"><i class="bi bi-house-fill"></i> Home</a></li>
          <li _ngcontent-ng-c3996415894="" class="nav-item m-1"><a _ngcontent-ng-c3996415894=""
              class="nav-link text-dark Headers"><i class="bi bi-gear-fill"></i> Account</a></li>
          <li _ngcontent-ng-c3996415894="" class="nav-item m-1"><a _ngcontent-ng-c3996415894=""
              class="nav-link text-dark Headers"><i class="bi bi-star-fill"></i> Favorites</a></li>
          <li _ngcontent-ng-c3996415894="" class="nav-item m-1"><a _ngcontent-ng-c3996415894=""
              class="nav-link text-dark Headers"><i class="bi bi-list-check"></i> Wishlist</a></li>
          <li _ngcontent-ng-c3996415894="" class="nav-item m-1"><a _ngcontent-ng-c3996415894=""
              class="nav-link text-dark Headers"><i class="bi bi-list-columns-reverse"></i> Orders</a></li>
        </ul>

      </div>

    </div>



    <div class="col-md-9 h-100">
      <div class="profile-content">
        <!-- Content Goes Here -->
        Some user related content goes here...
      </div>
    </div>
  </div>
</div>
