
<!--
<div class="container row mb-5 mt-1">

  <div class="container d-flex col-md-5 col-12">
        <div class="list-group list-group-flush ">

          <div class="text-center p-3" >
            <img src="https://www.picsum.photos/400/400" id="profileimage" class="img-fluid rounded-circle" alt="">
          </div>

          <div>
            <div class="fs-2">Abdulrahman</div>
          </div>


          <div [routerLink]="['/profile']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
            <i class="fas fa-chart-area fa-fw me-3 justify-content-center"></i><span>General Information</span>
          </div>

          <div [routerLink]="['/address']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom  fs-5">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Addresses</span>
          </div>

          <div [routerLink]="['/wishList']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
            <i class="fas fa-money-bill fa-fw me-3"></i><span>WishList</span>
          </div>

          <div [routerLink]="['/orders']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
            <i class="fas fa-money-bill fa-fw me-3"></i><span>Orders</span>
          </div>

          <div [routerLink]="['/orders']" id="logoutbutton" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
            <i class="fas fa-money-bill fa-fw me-3 fw-bold"></i><span>LogOut</span>
          </div>

        </div>
  </div>

  <div class="col-lg-7 container d-flex justify-content-end align-items-center" >
    <img src="https://images.squarespace-cdn.com/content/v1/55628e01e4b024c2e338e7f2/1432695173217-8TBDZ1CELY3CICDELT0I/phone.jpg"  alt="" >
  </div>
</div> -->


<div class="container d-flex col-md-5 col-12">
  <div class="list-group list-group-flush ">

    <div class="text-center p-3" >
      <img src="https://www.picsum.photos/400/400" id="profileimage" class="img-fluid rounded-circle" alt="">
    </div>

    <div>
      <div class="fs-2">Abdulrahman</div>
    </div>


    <div [routerLink]="['/profile']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
      <i class="fas fa-chart-area fa-fw me-3 justify-content-center"></i><span>General Information</span>
    </div>

    <div [routerLink]="['/address']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom  fs-5">
      <i class="fas fa-chart-area fa-fw me-3"></i><span>Addresses</span>
    </div>

    <div [routerLink]="['/wishlist']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
      <i class="fas fa-money-bill fa-fw me-3"></i><span>WishList</span>
    </div>

    <div [routerLink]="['/favorite']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
      <i class="fas fa-money-bill fa-fw me-3"></i><span>Favorites</span>
    </div>

    <div [routerLink]="['/orders']" [routerLinkActive]="['profactive']" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5">
      <i class="fas fa-money-bill fa-fw me-3"></i><span>Orders</span>
    </div>

    <div  id="logoutbutton" class="list-group-item list-group-item-action p-3 ripple text-center zoom fs-5" (click)="logout()">
      <a class="nav-link text-dark Headers"><i class="bi bi-box-arrow-left" > Logout</i></a>
    </div>

  </div>
</div>
